@{
  Layout = "_Layout";
}

@model SweetAndSavory.Models.Treat

<div class="card set-page text-center">
  <h1>Add a Treat to: @Html.DisplayFor(model => model.Name)</h1>
  <hr>
  <br>
  @using (Html.BeginForm())
  {
    @Html.HiddenFor(model => model.TreatId)
    <h5>@Html.Label("Select Flavor")</h5>
    <p>@Html.DropDownList("FlavorId")</p>
    <input class="btn btn-dark btn-lg" type="submit" value="Save"/>
  }
  <hr>
  <br>
  @Html.ActionLink("See All Treats", "Index", "Treats", null, new { @class = "brn btn-dark btn-lg" })
</div>